{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/registration/base.css'%}">
  <title>Document</title>
  <style>
    /* style your login pages here because the normal
      static asset flow is different now */
  </style>
</head>
<body>
  <div id="header">
    <span id="chit-chat">Chit Chat</span>
    {% if request.path == '/registration/sign_in/' %}
    <a href="/registration/sign_up/">Create New Account</a>
    {% endif %}
  </div>

  <h2 id="welcome">Welcome to Chit Chat! Sign in or make an account and start chating!</h2>

    {% block content %}
    {% endblock %}
</body>
</html>