#header {
    background-color: rgb(11, 129, 11);
    padding-left: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
}

#chit-chat {
    font-size: 2.5em;
    
}

#profile, #profile:visited{
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
}

nav {
  margin-top: 10px;
}

#logout {
  border: none;
  background: none;
  padding: 0;
  color: white;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}
