#header {
    background-color: rgb(11, 129, 11);
    padding-left: 10px;
    text-align: center;
    color: white;
}

#chit-chat {
    font-size: 2.5em;
    
}

#logout {
  position: relative;
  left: 92%;
  bottom: 40px;
  border: none;
  background: none;
  padding: 0;
  color: white;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}
