body {
    margin: 0;
}

form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

button {
    width: 8em;
}

a:visited, a:link {
    color: white;
    position: relative;
    left: 41%;
    top: 1.25em;
}

#header {
    background-color: rgb(11, 129, 11);
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

#chit-chat {
    font-size: 2.5em;
    color: white;
}

#welcome {
    text-align: center;
}